body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0; /* Remove default margin */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html, body {
    overscroll-behavior-x: none; /* Prevent mobile swipe gestures */
}

body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

#app {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#numberDisplay {
    margin: 20px;
    font-size: 2em;
    font-weight: bold;
}

button {
    padding: 15px 30px; /* Increase button size */
    font-size: 1em;
    cursor: pointer;
    margin: 10px; /* Add some space around buttons */
    border: none; /* Remove border */
    background-color: #007bff; /* Bootstrap primary btn color for example */
    color: white; /* Text color for buttons */
    border-radius: 5px; /* Rounded corners for buttons */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* subtle shadow for depth */
    transition: background-color 0.3s; /* Smooth background color transition */
}

button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

button:focus {
    outline: none; /* Remove focus outline */
}

#gameCanvas {
    width: 100%;
    height: auto; /* Adjust height to maintain aspect ratio */
}

#logoimage {
    width: 256px; /* Make logo larger */
    height: auto; /* Adjust height to maintain aspect ratio */
}

input[type=range] {
    width: 40%; /* Adjust width of sliders */
    margin: 20px 0; /* Space above and below sliders */
}

input[type="text"] {
    padding: 10px; /* Add padding to the input */
    font-size: 1em; /* Adjust font size */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Add a subtle shadow */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for border and shadow */
}

input[type="text"]:focus {
    outline: none; /* Remove focus outline */
    border-color: #007bff; /* Change border color on focus */
    box-shadow: 0 2px 4px rgba(0,0,0,0.4); /* Increase shadow on focus */
}

label {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #333333;
}

input[type="checkbox"] {
    appearance: none; /* Remove default checkbox appearance */
    width: 20px; /* Set checkbox width */
    height: 20px; /* Set checkbox height */
    border: 2px solid #007bff; /* Add border to checkbox */
    border-radius: 5px; /* Add rounded corners to checkbox */
    background-color: white; /* Set checkbox background color */
    cursor: pointer; /* Set cursor to pointer on hover */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for background and border color */
    vertical-align: middle; /* Adjust vertical alignment */
}

input[type="checkbox"]:checked {
    background-color: #007bff; /* Change background color when checkbox is checked */
    border-color: #007bff; /* Change border color when checkbox is checked */
}

input[type="checkbox"]:focus {
    outline: none; /* Remove focus outline */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3); /* Add focus outline */
}

#menu {
    background-color: #e6f2f4; /* Off white background */
    border: 1px solid #007bff; /* Slick thin blue border */
    /* Add other styles for the menu */
}

#backgroundimage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

#slideshow {
    display: flex; /* makes it a flex container */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#slideshow img {
    flex: 0 0 auto; /* prevents images from stretching */
    width: 60%;
    height: 100%;
    object-fit: cover;
}

@keyframes slideshow {
    0% {
        transform: translateX(0);
    }
    2% {
        transform: translateX(0);
    }
    96% {
        transform: translateX(-820%);
    }
    100% {
        transform: translateX(-820%);
    }
}

#slideshow img {
    animation: slideshow 40s linear infinite;
}

#gameOverText {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: white;
    text-shadow:
        -1px -1px 0 #ffffff,
         1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
         1px  1px 0 #ffffff; /* Simulate stroke effect */
    z-index: 1;
}

#streamsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#streamsContainer video {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 1px;
    height: 1px;
    z-index: -100;
}

#debugDisplay {
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 1em;
    font-weight: bold;
    color: black;
    z-index: 100;
}